@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");

:root {
  --text-font: "Arvo", serif;
  --text-color: #fff;
  --color-primary: #6bb888;
  --shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

/*Mobile L*/
@media (max-width: 576px) {
  main {
    margin-top: 2.5rem !important;
  }
}

/*Mobile S*/
@media (max-width: 320px) {
  #search-input {
    width: 90%;
  }
}

* {
  font-family: var(--text-font);
}

body {
  background-image: url(/images/ac-background-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  background-attachment: fixed;
}

main {
  margin-top: 5rem;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.search-bar,
.secondary-buttons {
  background-color: var(--color-primary);
  border-radius: 30px;
  padding: 10px 20px 10px 20px;
  border: none;
  box-shadow: var(--shadow);
}

input {
  border: none;
  border-radius: 30px;
  background-color: transparent;
  color: var(--text-color);
  outline: none;
  width: 100%;
}

input::placeholder {
  color: var(--text-color);
}

ul {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
  padding: 0 0.8rem;
}

button > i,
button > span {
  color: var(--text-color);
}

.pipe {
  border-left: 1px solid var(--text-color);
}

audio {
  display: none;
}

#current-conditions {
  background-color: #b7b398;
  border-radius: 30px;
  padding: 25px 20px 27px 20px;
  color: var(--text-color);
  text-align: center;
  box-shadow: var(--shadow);
  width: 18rem;
}

#current-conditions h1 {
  font-size: 60px;
  padding-top: 20px;
  margin: 0;
}

#current-conditions p {
  font-size: 13px;
  padding-top: 5px;
  padding-bottom: 40px;
  margin: 0;
}

#current-conditions span {
  font-size: 14px;
}

#date-city-weather-column {
  background-color: #f28b73;
  border-radius: 30px;
  padding: 25px 30px 25px 20px;
  color: var(--text-color);
  text-align: end;
  box-shadow: var(--shadow);
  width: 18rem;
}

#current-local-date,
#current-local-hour {
  font-size: 16px;
  margin: 0;
}

#current-city {
  font-size: 40px;
}

#current-weather-icon {
  font-size: 52px;
  margin-top: 10px;
}

#current-weather-text {
  font-size: 16px;
  margin-top: 13px;
  margin-bottom: 0;
}

#forecast-day-1,
#forecast-day-2,
#forecast-day-3,
#forecast-day-4,
#forecast-day-5 {
  border-radius: 30px;
  padding-top: 15px;
  width: 17%;
  color: var(--text-color);
  text-align: center;
  box-shadow: var(--shadow);
}

#forecast-day-1 {
  background-color: #f28b73;
}

#forecast-day-2 {
  background-color: #74c894;
}

#forecast-day-3 {
  background-color: #85cfe2;
}

#forecast-day-4 {
  background-color: #fbacc7;
}

#forecast-day-5 {
  background-color: #b7b398;
}

#thu-icon,
#fri-icon,
#sat-icon,
#sunday-icon,
#mon-icon {
  font-size: 35px;
}

#thu-forecast,
#fri-forecast,
#sat-forecast,
#sun-forecast,
#mon-forecast {
  padding-top: 14px;
  padding-bottom: 15px;
  padding-right: 7px;
}

.swal2-image {
  margin-top: 15px;
  margin-bottom: 4px;
  width: 26%;
}

.swal2-title {
  font-size: 27px !important;
  padding-bottom: 5px;
}

.swal2-html-container {
  font-size: 16px !important;
}

.swal2-confirm {
  font-size: 14px !important;
}
